In [1]:
## Carregamento dos pacotes necessários à execução das rotinas
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
import numpy as np
import locale
from scipy.stats import linregress
import statsmodels.formula.api as smf
import seaborn as sns
%matplotlib inline
pd.set_option('display.max_rows', None)

In [2]:
## Abertura do arquivo Atlas que contém dados da população de 2000 a 2010
atlas = pd.read_csv('C:/Users/alex/python/dissertacao/atlasb.CSV')

## Selecão do ano 2010
atlas = atlas.query('ano == 2010')

In [6]:
## Somatório da população masculina e feminina com idade de 10 a 14 anos e de 15 a 19 anos-2010
pop10a14 = atlas['homem10a14'].sum() + atlas['mulh10a14'].sum()
pop15a19 = atlas['homem15a19'].sum() + atlas['mulh15a19'].sum()
pop10a19 = pop10a14 + pop15a19
pop = atlas['pop'].sum ()

In [7]:
dados = {'População (idade)': ['10 a 14','15 a 19','10 a 19','Geral'],
        'Quantidade': [pop10a14, pop15a19,pop10a19,pop]}
dados = pd.DataFrame(dados)
dados

  População (idade)  Quantidade
0           10 a 14    17166761
1           15 a 19    16990870
2           10 a 19    34157631
3             Geral   189467349